# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Environment
.env
venv/
.env.local

# Git
*.orig

# Output
output/

#back_test
backtest/results.csv